extends layout

block content
  .row
    .span2
      ul#people.unstyled
    .span4
      ul#msgs.unstyled
  .row
    #login.span5.offset2.centered
      img#login_logo(src='images/logo@2x.png')
      span KawaChat
      form.form-inline
        input#name.input-small(type='text', placeholder='Your username...')
        br
        input#frq.input-small(type='text', placeholder='Frequency channel (MHz)...')
        br
        input#join.btn.btn-primary(type='button', name='join', value='Join')
    #chat.span5.offset2
      form#2.form-inline
        input#msg.input(type='text', placeholder='Your message')
        input#send.btn.btn-success(type='button', name='send', value='Send')
