<!DOCTYPE html>
<html lang="en">
<head>

	<script src="http://kawachat.herokuapp.com/socket.io/socket.io.js"></script>



	<!--
	<script src="http://192.168.0.17:5000/socket.io/socket.io.js"></script>
	-->
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/bootstrap.js"></script>
	<script src="javascripts/kc.js"></script>

	<title>KawaChat</title>

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/kc.css">



	<meta property="og:image" content="images/logo@2x.png">

<body>

<div class="row">
  <div class="span2">
  	<ul id="people" class="unstyled"></ul>
  </div>
  <div class="span4">
  	<ul id="msgs" class="unstyled"></ul>
  </div>
</div>


<div class="row">
	<div class="span5 offset2 centered" id="login">
		<img src="images/logo@2x.png" id="login_logo">
		<span>KawaChat</span>
		<form class="form-inline">
  			<input type="text" class="input-small" placeholder="Your name..." id="name"></br>
			<input type="text" class="input-small" placeholder="Frequency (MHz)..." id="frq"></br>
			<input type="button" name="join" id="join" value="Join" class="btn btn-primary">
		</form>

	</div>

	<div class="span5 offset2" id="chat">
		<form id="2" class="form-inline">
  			<input type="text" class="input" placeholder="Your message" id="msg">
			<input type="button" name="send" id="send" value="Send" class="btn btn-success">
		</form>
	</div>
  </div>
</div>

</body>
</html>
