
.ngdialog-message
  %h2 Native Angular.js solution
  %div
    With ngDialog you don't need jQuery or Bootstrap to create dialogs for
    %code ng-app:
  %ul.mt
    %li Use it in controllers, factories or directives
    %li Create your own directives
    %li Style all UI and templates
    %li Configure themes
    %li Add animations and effects
  .mt
    Module is shipped with both
    %code ngDialog
    service and default directive.

.ngdialog-close
